* {
  outline: none!important;
  -webkit-tap-highlight-color: transparent !important;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: center;
}

.toasted-container {
  z-index: 10000000!important;
  .toasted {
    font-family: Neucha, sans-serif;
    @media screen and (max-width: 600px) {
      justify-content: center!important;
    }
  }
}
