.base-success-notification {
  padding: 10px;

  width: 300px;
  min-height: 70px;
  background-color: #F0F9EB;

  @media screen and (max-width: 340px) {
    width: calc(100vw - 32px);
  }

  h2 {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #2C2C2C;
  }

  .el-notification__content {
    margin: 0;
    > p {
      font-family: Ubuntu, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.01em;
      text-align: left;
      color: #2C2C2C;
    }
  }

  .el-notification__closeBtn {
    top: 10px;
    right: 10px;
  }

}
